body{
    display: flex;
    background-color : white; 
}

.personnel{
    color: rgba(255, 255, 255, 0.733);
    background-color: rgba(0, 0, 0, 0.658);
    width: 40%;
    padding: 10px;
    border-radius: 10px;
}
.sous-profil img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-top-left-radius: 0;
    border: 5px solid white;
    margin: 0;
    
}
.sous-profil p span{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.corp{
    background-color: rgba(255, 255, 255, 0.616);
    width: 60%;
    padding: 10px;margin: 10px;
    border-radius: 10px;

}
.entente h1{
    border-radius: 100px ;
    font-size: 3rem;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow:  1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    margin-top: 1px;
}
.entente h2{
    color: black;
    /* background-color: rgba(0, 0, 255, 0.493); */
    text-shadow: 2px 2px 5px red;
    text-transform: capitalize;
    padding: 20px;
    border-radius: 10px 100px 100px 10px;
    border-radius: 60%;
    text-align: center;
    
}

.sous-sous-profil{
    display: flex;
    align-items: center;
}
.sous-sous-profil img{
    height: 30px;
    width: 30px;
    padding: 5px;
    border: none;
}

.sous-corp h2{
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.336);
}

.sous-sous-corp{
   
}

.sous-sous-corp h4{
    text-transform: capitalize;
    text-shadow: 0 0 20px red, 0 0px 20px blue, 0 12px 25px black;
}